body {
	padding-top: 40px;
	background-color: #101010;
}

.jumbotron h1{
	text-align: center;
	padding-bottom: 20px;
}

.jumbotron h2{
	position:relative;
	top:20px;
}

.jumbotron h3{
	opacity: .8;
}

.resume{
	text-align: center;
}