body {
	padding-top: 40px;
	background-color: #101010;
}

.jumbotron {
	text-align: center;
}

.jumbotron h1{
	padding-bottom: 20px;
}

.jumbotron hr{
	border-top: 1px solid#101010;
	width: 160px;
	margin-top: 10px;
}

.jumbotron a:hover {
	text-decoration: none;
	color: #101010;
}